.MenuPage{
    background-color: #1d1a1a;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in;
    overflow: hidden;
    top: 0;
    z-index: 998;
    clip-path: circle(0% at 95.3% 0%);
    overflow-x: hidden;
}
.leftAside{
    display: flex !important;
    flex-direction: column;
     color: white;
     text-align: left;
     width: 200%;
     font-size: 4em;
    margin-top: 4%;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    border-right: 1px solid #dbdbdb;
}
.rightAside{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    text-align: left;
    margin-left: 6%;
    /* width: 22%; */
    margin-top: 4%;
}
.adress{
    color: #dbdbdb;
    line-height: 1.1em;
    font-weight: 500;
    font-size: 1.875em;
    display: block;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.calll{
    color: #dbdbdb;
    line-height: 1.1em;
    font-weight: 500;
    font-size: 1.875em;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.officeO{
   color: #dbdbdb;
   font-size: 1em;
    margin-bottom: 0.625em;
    /* width: 60%; */
}
.get{
    position: relative;
    width: 35%;
}

.fromLeft{
    position: relative;
    width:35%;
}
.fromLeft:hover span{
    color: rgb(0, 70, 134);
    transition: 1s ease all;
}
.fromLeft:hover{
    color:rgb(0, 70, 134)
}
.fromLeft::before{
    position: absolute;
    left: 0;
    right: auto;
    bottom: 0;
    width: 100%;
    height: 1.1px;
    background:white;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    content: '';
    transform: scaleX(1);  
    transition: transform 400ms ease-in-out;
    transform-origin: 100% 50%
}
.fromLeft:hover::before{
    transform: scaleX(0); transform-origin:   0% 50%;
}
.get::before {
    position: absolute;
    left: 0;
    right: auto;
    bottom: 0;
    width: 100%;
    height: 1px;
    background:white;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    content: '';
}
.leftAside span{
    margin-bottom: 2%;
}
.floor{
    display: flex;
     margin-top: -5%;
     margin-bottom: 10%;
    /* justify-content: space-between; */
}
.call{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}
h3{
    display: block;
    /* font-size: 1.17em; */
    margin-block-start: 0;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.middle{
    margin: 0% 5% 0 0%;
    display: flex;
    /* height: 65vh; */
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
    padding: 0 8%;
    text-align: center;
}
.openM{
    max-height: 100vh;
    height: 100vh;
    transition: all 1s ease-in;
    clip-path: circle(140% at 95.3% 0%);
}
.bottomPage{
    background-color: rgb(0, 70, 134);
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in;
    overflow: hidden;
    bottom:0;
    left: 0;
    z-index: 997;
    clip-path: circle(0% at 0 100%);
  
}
.upMain{
    display: none;
}
.openUp{
    display: block;
    margin-top: 4%;
    padding: 0 8%;
}
.upHeader{
    /* margin: 5% ; */
    display: none;
}
.openHeader{
    display: block;
    /* margin-top: 6%; */
    padding: 0 8%;
    
}
.openBottom{
    max-height: 100vh;
    height: 100vh;
    transition: all 1s ease-in;
    clip-path: circle(98.7% at 0 99%);

}
.circleWhite {
   
    display: none;
}
.circleW{
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1000;
    top: 0;
    right: 0;
    border-radius: 50%;
    /* border: 3px solid rgb(0, 70, 134) ; */
    border: 0.6px solid white;
    /* z-index: 998; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease all;
    display: block;
}
.circleWhite:hover {
    background-color: rgb(0, 70, 134);
    border: 1px solid rgb(0, 70, 134);
    cursor: pointer;
    transition: 0.5s ease all;
}
.whiteLine{
    background-color: white;
    width: 30px;
    height: 2px;
    position: absolute;
}
.circleWhite:hover .white {
    background-color: white;
    transition: 0.5s ease all;
}
.icon-link{
    width: 1.5em;
    height: 1.5em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: white;
    margin: 0 0.9375em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}
.icon-link:before {
    content: "in";
}
.upHeader{
    display: flex;
    justify-content: space-between;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* margin-top: 5%; */
}
.endPart{
    display: flex;
    margin: 2% 5% 0 10%;
}
.endL{
    display: flex;
    color :#dbdbdb;
    font-size: '1em';
    flex-direction: column;
    align-items: flex-start;
}
p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

.middle .leftAside .as .coming1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: -150px;
  position: relative;
}
.middle .leftAside .coming-heading
 {
  font-family: 'light';
  font-style: normal;
  /* font-size: 150px; */
  line-height: 177px;
  text-align: center;
  font-size: 5px;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.middle .leftAside 
.scroll1 {
  position: relative;
  width: 100%;
  /* height: 25%; */
  /* min-height: 150px; */
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.middle .leftAside .as  .m-scroll {
  overflow: hidden;
  /* height: 100%; */
  white-space: nowrap;
  animation: scrollText 40s infinite linear;
  margin: 0;
  font-size: 0;
  display: inline-block;
  z-index: 999;
}
.middle .leftAside .coming1 .coming-heading1 .m-scroll1  .list-p span{
    font-size: 3.5em ;
}
.middle .leftAside .coming1 .coming-heading1 .m-scroll1 {
    width: 100%;
    height: auto;
}
.middle .leftAside .coming1 .coming-heading1 .m-scroll1  .list-p {
   margin-top: -50px;
}
.middle .leftAside .coming1 .coming-heading1  .m-scroll1:hover{
 
  animation-play-state:running

}
.middle .leftAside .coming1  {
    width: 100%;
 
}

.middle .leftAside .coming1 .coming-heading1 {
  font-family: 'light';
  font-style: normal;
  /* font-size: 150px; */
  line-height: 177px;
  text-align: center;
  font-size: 20px;
  -webkit-text-stroke: 2px white;
  color: transparent;
}
@media only screen and (max-width:1000px) {
    .endPart {
        display: flex;
        margin: 2% 5% 0 6%;
    }
    .middle{
        flex-direction: column;
    }
    .leftAside{
        height: 60vh;
        width: 100%;
        margin-top: 10%;
    }
    .call{
        margin-top: 0;
    }
    .as{
        margin-left: 8% !important;
    }
    .MenuPage{
        overflow: scroll;
    }
    .rightAside{
        margin-top: 10%;
    }
    .adress{
        margin-block-end: 3em;
    }
    .floor .fromLeft{
        display: none;
    }
    .fromLeft::before{
        display: none;
    }
}
@media only screen and (max-width:500px) {
  .as{
    font-size: 3rem;
  }
  .leftAside{
    height: 45vh;
  }
  .endL{
    margin-right: 13% !important;
  }
  .middle{
    margin-top: 10%;
  }
  .middle .leftAside .coming1  {
 
  display: none !important;
  }
}
@media only screen and (max-width:400px) {
    .birinci{
        display: none;
    }
    .head{
        text-align: right;
        display: block;
    }
    .as{
        font-size: 2.5rem;
      }
      .rightAside{
        margin-top: 15%;
      }
      .endL{
        margin-right: 0 !important;
      }
  }