.marka{
    display: flex;
    flex-wrap: wrap;
  
    margin: 10% auto 10% 5%;
}
.marka-img{
    width: 10%;
    filter: grayscale(100%);
    margin-right: 11%;
    margin-bottom: 5%;
}
.marka-img:hover{
    filter: grayscale(0);

}
.marka:last-child{
    margin-right: 0 !important;
}
.esas-partner{
    display: none;
    position: relative;
text-align: left;
width: 80%;
margin-left: 10%;
margin-top: 20%;
}
#apple , #adam{
    width: 3%;
}
#adam{
    margin-right: 0;
}
#apple{
    margin-right: 19%;
}

.set{
    font-size: 1.875em;
    line-height: 1.4375em;
    font-weight: 300;
   color: #868686;
}
.our{
    font-size: 1.875em;
    letter-spacing: .03125em;
    line-height: 1.125em;
    font-weight: 500;
}
.xett{
    position: relative;
}
@media only screen and (max-width: 500px) {
   
    .marka{
        margin: 5% 0;
    }
    .marka-img{
        transform: none !important;
        width: 30%;
    
        margin-right: 20%;
        margin-top: 5%;
    }
    #apple{
        width: 10%;
        margin-right: 40%;
    }
    #adam{
        width: 10%;  
    }
    .esas-partner{
        margin-top: 50%;
    }
}