.footerEsas::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 0.3125em;
    background: rgb(0,70,134);
    content: '';
}

.footerEsas {
    position: relative;
    display: none;
    overflow: hidden;
   
}
.dunya{
    width: 30%;
    position: absolute;
    z-index: 1;
    left: 0;
}
.dragg {
    width: 15%;
    /* position: absolute; */

    /* cursor: move; */

}

.dragg {

    position: absolute;

    animation: animationFramestwo 4s infinite;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    /* transform-origin: 50% 50%; */
    -webkit-animation: animationFramestwo ease 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    /* -webkit-transform-origin: 50% 50%; */
    -moz-animation: animationFramestwo ease 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: reverse;
    /* -moz-transform-origin: 50% 50%; */
    -o-animation: animationFramestwo ease 4s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: reverse;
    /* -o-transform-origin: 50% 50%; */
    -ms-animation: animationFramestwo ease 4s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: reverse;
    /* -ms-transform-origin: 50% 50%; */
}

@keyframes animationFramestwo {

    0%,
    100% {
        right: 800px;
    }

    50% {
        right: 700px;
    }
}

.dragg:hover {
    animation-play-state: paused;
}

.connect {
    font-size: 9em;
    color: black;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    margin-right: 10%;
}

.footer-up {
    display: flex;
    margin-left: 20%;
    padding-top: 5%;
    width: 100%;
}

.icon-linkedin {
    width: 2.25em;
    height: 2.25em;
    text-align: center;
    margin: 0 0.9375em 0 0;
    background: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
}

.icon-linkedin::before {
    font-size: 1.125em;
}

.icon-linkedin:before {
    content: "in";
}

#ftline {
    height: 0.1875em;
    border: none;
    background: #f2f2f2;
    width: 90%;
    color: gray;
}

.contact-span {
    display: block;
    width: 0.75em;
    height: 0.75em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: 0 0 1.25em 0;
    background-color: rgb(0, 70, 134);
}

.basliq {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    margin: 0 0 3.125em 0;
}

.contact-adress {
    margin: 0 0 1.25em 0;
    letter-spacing: .03125em;
    line-height: 1.125em;
    font-weight: 500;
    font-size: 1.875em;
}

.contact-text {
    width: 70%;
}

#nomre {
    margin-top: 10%;
}

.footer-contact {
    margin: 0 auto 6.25em 25%;
    /* display: flex; */
}

.contact-1 {
    margin-top: 70px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.sbmt1 {
    display: none;
}

.son {
    display: flex;
    justify-content: space-between;
    margin: 0 5% 5% 20%
}

.toplu {
    display: block;
    width: auto;
    height: 8.75em;
    /* margin: auto; */
}

.labor {
    font-size: 1.375em;
    font-weight: 500;
    margin: 0;
}

.brand-side-logo {
    position: absolute;
    left: 3%;
    top: 15.625em;
    margin: auto;
    width: 15.5em;
    height: 41.5625em;
    vertical-align: top;
}

.brand-side-logo svg {
    height: 100%;
    width: 70%;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}
.footer-response{
    display: flex;
}
@media only screen and (max-width: 1200px) {
    .footer-up {
        margin-left: 13%;
    }

    .dragg {
        top: 8%
    }
}

@media only screen and (max-width: 1100px) {
    .connect {
        margin-right: 0;
    }

    .dragg {
        top: 7%
    }
}

@media only screen and (max-width: 1000px) {
    .son {
        margin: 0 5% 5% 5%
    }

    .connect {
        font-size: 8em;
    }

    .dragg {
        display: none;
    }

    .footer-up {
        padding-top: 10%;
    }

    .brand-side-logo {
        left: -3%;
    }

}

@media only screen and (max-width:850px) {
    .sbmt {
        display: none;
    }

    .sbmt1 {
        display: block;
    }
}

@media only screen and (max-width:720px) {
    .footer-up {
 
        display: none;
    }
   #es, .toplu{
    display: none;
   }
    .brand-side-logo {
        display: none;
    }
    .footer-contact{
        margin: 0 5%
    }
  
    .son{
        margin: 0 5%;
    }
    #email{
        flex-direction: column;
    }
    .contact-1{
       flex-direction: row;
        max-width: 100%;
    }
    .footer-response{
        display: block;
    }
}